<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>controlador.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>controlador.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiudadServlet</servlet-name>
        <servlet-class>controlador.CiudadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AeropuertoServlet</servlet-name>
        <servlet-class>controlador.AeropuertoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VuelosServlet</servlet-name>
        <servlet-class>controlador.VuelosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodigoVueloServlet</servlet-name>
        <servlet-class>controlador.CodigoVueloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompaniaServlet</servlet-name>
        <servlet-class>controlador.CompaniaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TramoServlet</servlet-name>
        <servlet-class>controlador.TramoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaServlet</servlet-name>
        <servlet-class>controlador.ReservaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscalaServlet</servlet-name>
        <servlet-class>controlador.EscalaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadServlet</servlet-name>
        <url-pattern>/ciudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AeropuertoServlet</servlet-name>
        <url-pattern>/aereopuerto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VuelosServlet</servlet-name>
        <url-pattern>/vuelos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodigoVueloServlet</servlet-name>
        <url-pattern>/codigo_vuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompaniaServlet</servlet-name>
        <url-pattern>/compania_aerea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TramoServlet</servlet-name>
        <url-pattern>/tramo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaServlet</servlet-name>
        <url-pattern>/reservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscalaServlet</servlet-name>
        <url-pattern>/escala</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
